<%= form_for [Tweet.new] do |form| %>
    <div class="tweet__container">
      <div class="tweet__image">
     
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar, class:'image__circle image__small') %>
        <% else %>
          <%= image_tag('default.png', class:'image__circle image__small') %>
        <% end %>

      </div>
      <div class="form__tweet">
        <%= form.text_area :body, class: "tweet_area", placeholder: "What's happening?" %>
        <%= form.submit "Tweet", class: "button__primary button__medium typo__medium" %>
      </div>
    </div>
<% end %>