<div class="home-header">
  <header class="header">
      <h2 class="typo__bold typo__large">Profile</h2>
  </header>
  <div class="profile">
    <%= image_tag 'default.png' %>
    <h6><%= current_user.name %></h6>
    <p>@<%= current_user.username %></p>
    <div><%= current_user.created_at %></div>
    <%= link_to 'Edit Profile' %>
  <div>
  #AQUI VA TUS ITERACIONES ANDREA
</div>
