<!DOCTYPE html>
<html>
  <head>
    <title>TweetableTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="home">
      <aside class="home-aside">
        <h3 class="tweetable typo__large">
          { <span class="tweetable__text">Tweet</span>able }
        <h3>
        <div class="current_session">
          <% if current_user %>
            <%=link_to current_user.username, edit_user_registration_path%>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'button button-category button-session' %>
          <% else %>
            <%= link_to "Signin", new_user_session_path, class: 'button button-category button-session' %>
          <% end %>
        </div>
      </aside>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
